
@{
    Layout = null;
    var Ha = ViewBag.Ha;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default2</title>
</head>
<body>
    <div> 
        這是第二個頁面啦！
        <hr />
        @Ha<span>進來了啦 ㄏㄏ</span>
    </div>
</body>
</html>
