
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NOme</title>
</head>
<body>
    <div> 
        <h2>測試一下!!</h2>
        齁齁齁=@ViewBag.id
    </div>
</body>
</html>
